<mat-form-field>
  <mat-label>Pesquisa de Comissionamentos</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="inicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
          <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="termino">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Término </th>
          <td mat-cell *matCellDef="let element"> {{element.termino}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="previsaoPromocao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Previsao de Promocao </th>
          <td mat-cell *matCellDef="let element"> {{element.previsaoPromocao}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="qtdDiasPlanejados">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> qtdDiasPlanejados </th>
          <td mat-cell *matCellDef="let element"> {{element.qtdDiasPlanejados}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="qtdDiasExecutados">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtd dias Executados </th>
          <td mat-cell *matCellDef="let element"> {{element.qtdDiasExecutados}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comissionado </th>
          <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="unidadeNome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> unidade </th>
          <td mat-cell *matCellDef="let element"> {{element.unidade.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="action-link">
              <a [routerLink]="[element.id]" routerLinkActive="active" color="primary">Visualizar Detalhes</a> |
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
