<form class="user-detalhe-form" [formGroup]="userForm">
  <h2>Edição de Dados do Comissionado</h2>
  <mat-form-field class="example-full-width">
      <mat-label>Saram</mat-label>
      <input matInput disabled formControlName="saram">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Nome Completo</mat-label>
      <input matInput disabled formControlName= "name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Nome de Guerra</mat-label>
      <input matInput formControlName= "militaryName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Posto/Graduação</mat-label>
      <input matInput disabled formControlName= "militaryRank">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Quadro</mat-label>
      <input matInput disabled formControlName= "militaryCareer">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Especialidade</mat-label>
      <input matInput disabled formControlName= "militarySpeciality">
  </mat-form-field>
  <mat-checkbox class="example-margin" formControlName ="dependente" >Tem dependente?</mat-checkbox>
  <button (click)="update()" mat-button color="primary">Salvar</button>
</form>
