<mat-form-field>
    <mat-label>Pesquisa de Usuários</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="militaryId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Saram </th>
            <td mat-cell *matCellDef="let element"> {{element.militaryId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="militaryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome de Guerra </th>
            <td mat-cell *matCellDef="let element"> {{element.militaryName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="militaryRank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Posto/Graduacao </th>
            <td mat-cell *matCellDef="let element"> {{element.militaryRank}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="militaryCareer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quadro </th>
            <td mat-cell *matCellDef="let element"> {{element.militaryCareer}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="militarySpeciality">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sigla </th>
            <td mat-cell *matCellDef="let element"> {{element.militarySpeciality}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dependente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependente? </th>
            <td mat-cell *matCellDef="let element"> {{element.dependente}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <a [routerLink]="[element.id]" routerLinkActive="active" color="primary">Visualizar Detalhes</a> |
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
