<mat-nav-list>
    <div *ngFor="let item of itens">
        <h2 matSubheader>{{item.nome}}</h2>
        <mat-divider></mat-divider>
        <div *ngFor="let subitem of item.subitens">
            <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/',subitem.rota]">{{subitem.nome}}</a>
        </div>
        <mat-divider></mat-divider>
    </div>
</mat-nav-list>
