<form class="user-detalhe-form" [formGroup]="form">
  <h2>Detalhes do Comissionamento</h2>
  <mat-form-field class="example-full-width">
      <mat-label>Início</mat-label>
      <input matInput formControlName="inicio">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Término</mat-label>
    <input matInput formControlName="termino">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Previsão Promocao</mat-label>
  <input matInput formControlName="previsaoPromocao">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Dias Planejados</mat-label>
  <input matInput formControlName="diasPlanejados">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Dias Executados</mat-label>
  <input matInput formControlName="diasExecutados">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Mês Pagamento</mat-label>
  <input matInput formControlName="mesPagamento">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Comprometido Ano</mat-label>
  <input matInput formControlName="compAno">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Comprometido Seguinte</mat-label>
  <input matInput formControlName="compAnoSeguinte">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Ida Planejado</mat-label>
  <input matInput formControlName="valorIdaPlanejado">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Ida Planejado</mat-label>
  <input matInput formControlName="valorIdaPlanejado">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Volta Planejado</mat-label>
  <input matInput formControlName="valorVoltaPlanejado">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Pago Ida</mat-label>
  <input matInput formControlName="valorPagoIda">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Mês Contracheque Ida</mat-label>
  <input matInput formControlName="mesContrachequeIda">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Valor Pago Volta</mat-label>
  <input matInput formControlName="valorPagoVolta">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Mês Contracheque Volta</mat-label>
  <input matInput formControlName="mesContrachequeVolta">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Resp Crédito</mat-label>
  <input matInput formControlName="responsavelCredito">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>UG Responsavel</mat-label>
  <input matInput formControlName="ugResponsavel">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>UG Pagadora</mat-label>
  <input matInput formControlName="ugPagadora">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Nome Unidade</mat-label>
  <input matInput formControlName="nomeUnidade">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Comissionado</mat-label>
  <input matInput formControlName="name">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Plano</mat-label>
  <input matInput formControlName="plano">
</mat-form-field>
  <button [routerLink]="['edit']" mat-button color="primary">Editar</button>
</form>
