<!doctype html> {% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>SIGCOM - Sistema de Gerenciamento de Comissionamentos.</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

    <app-root>Carregando...</app-root>

    <script src="{% static 'runtime-es2015.js' %}" type="module"></script>
    <script src="{% static 'runtime-es5.js' %}" nomodule defer></script>
    <script src="{% static 'polyfills-es5.js' %}" nomodule defer></script>
    <script src="{% static 'polyfills-es2015.js' %}" type="module"></script>
    <script src="{% static 'styles-es2015.js' %}" type="module"></script>
    <script src="{% static 'styles-es5.js' %}" nomodule defer></script>
    <script src="{% static 'scripts.js' %}" defer></script>
    <script src="{% static 'vendor-es2015.js' %}" type="module"></script>
    <script src="{% static 'vendor-es5.js' %}" nomodule defer></script>
    <script src="{% static 'main-es2015.js' %}" type="module"></script>
    <script src="{% static 'main-es5.js' %}" nomodule defer></script>
</body>

</html>