<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>SIGCOM</b> - Sistema de Gerenciamento de Comissionamentos</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body" *ngIf="isAuthenticated()">
                Bem-vindo, <span *ngIf="currentAccount">{{ currentAccount.firstName }}
                    {{ currentAccount.lastName}}
                    ({{ currentAccount.email }})</span> <br>
                <button (click)="logout()">Logout</button>
            </div>
            <div class="card-body login-card-body" *ngIf="!isAuthenticated()">
                <p class="login-box-msg">Efetue o Login para iniciar sua Sessão.</p>
                <form id="new_user" (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username" formControlName="username" aria-describedby="usernameHelp">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" formControlName="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>


                    <!-- <div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                    </div>
                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href="#">I forgot my password</a>
                    </p>
                    <p class="mb-0">
                        <a [routerLink]="'/login/register'" href="register.html" class="text-center">Register a new
                            membership</a>
                    </p>

                    <br *ngIf="authenticationError">
                    <div class="alert alert-danger" *ngIf="authenticationError">
                        <strong>Falha na autenticação!</strong> Verifique suas credenciais e tente novamente.
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>
