.user-detalhe-form {
  max-width: 1000px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

example-margin {
  margin: 0 10px;
}
