<form [formGroup]="form">
  <h2>Edição do Comissionamento</h2>
  <div fxLayout="column" fxLayoutAlign="space-between">
    <br>
    <h3>Período e Comissionado</h3>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field fxFlex="12">
        <mat-label>Início</mat-label>
        <input matInput formControlName="inicio">
      </mat-form-field>
      <mat-form-field fxFlex="12">
        <mat-label>Término</mat-label>
        <input matInput formControlName="termino">
      </mat-form-field>
      <mat-form-field fxFlex="45" fxFill>
        <mat-label>Comissionado</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <br>
    <h3>Dados Gerais</h3>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field fxFlex="15">
        <mat-label>Previsão Promocao</mat-label>
        <input matInput formControlName="previsaoPromocao">
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Dias Planejados</mat-label>
        <input matInput formControlName="diasPlanejados">
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Dias Executados</mat-label>
        <input matInput formControlName="diasExecutados">
      </mat-form-field>
      <mat-form-field fxFlex="20">
        <mat-label>Mês Pagamento</mat-label>
        <input matInput formControlName="mesPagamento">
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field fxFlex="15">
        <mat-label>Valor Comprometido Ano</mat-label>
        <input matInput formControlName="compAno">
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Valor Comprometido Seguinte</mat-label>
        <input matInput formControlName="compAnoSeguinte">
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Valor Ida Planejado</mat-label>
        <input matInput formControlName="valorIdaPlanejado">
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Valor Ida Planejado</mat-label>
        <input matInput formControlName="valorIdaPlanejado">
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-label>Valor Volta Planejado</mat-label>
        <input matInput formControlName="valorVoltaPlanejado">
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field fxFlex="12">
        <mat-label>Valor Pago Ida</mat-label>
        <input matInput formControlName="valorPagoIda">
      </mat-form-field>
      <mat-form-field fxFlex="12">
        <mat-label>Mês Contracheque Ida</mat-label>
        <input matInput formControlName="mesContrachequeIda">
      </mat-form-field>
      <mat-form-field fxFlex="12">
        <mat-label>Valor Pago Volta</mat-label>
        <input matInput formControlName="valorPagoVolta">
      </mat-form-field>
      <mat-form-field fxFlex="12">
        <mat-label>Mês Contracheque Volta</mat-label>
        <input matInput formControlName="mesContrachequeVolta">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <mat-label>Resp Crédito</mat-label>
        <input matInput formControlName="responsavelCredito">
      </mat-form-field>
    </div>
    <br>
    <h3>Dados Pagamento</h3>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-form-field fxFlex="25">
        <mat-label>UG Responsavel</mat-label>
        <input matInput formControlName="ugResponsavel">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <mat-label>UG Pagadora</mat-label>
        <input matInput formControlName="ugPagadora">
      </mat-form-field>
      <mat-form-field fxFlex="25">
        <mat-label>Nome Unidade</mat-label>
        <input matInput formControlName="nomeUnidade">
      </mat-form-field>
      <mat-form-field fxFlex="10">
        <mat-label>Plano</mat-label>
        <input matInput formControlName="plano">
      </mat-form-field>
    </div>
  </div>
  <button [routerLink]="['edit']" mat-button color="primary">Editar</button>
</form>
