<app-header (toggleSideBarForMe)="sideNavToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideNavOpen">
        <app-side-nav></app-side-nav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer class="footer"></app-footer>
